<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="mygento_content_export_cmsblock" xsi:type="object">Mygento\Content\Console\Command\ExportCmsBlock</item>
                <item name="mygento_content_export_cmspage" xsi:type="object">Mygento\Content\Console\Command\ExportCmsPage</item>
            </argument>
        </arguments>
    </type>
</config>