<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="mygento_content" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Content Import/Export</label>
            <tab>mygento</tab>
            <resource>Mygento_Content::config</resource>
            <group id="general" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Setting</label>
                <field id="export_cms_block" translate="button_label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Export CMS Blocks</label>
                    <button_label>Dump to files</button_label>
                    <frontend_model>Mygento\Content\Block\Adminhtml\System\Config\CmsBlockExport</frontend_model>
                </field>
                <field id="export_cms_page" translate="button_label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Export CMS Pages</label>
                    <button_label>Dump to files</button_label>
                    <frontend_model>Mygento\Content\Block\Adminhtml\System\Config\CmsPageExport</frontend_model>
                </field>

                <field id="import_cms_block" translate="button_label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Import CMS Pages</label>
                    <button_label>Load from files</button_label>
                    <frontend_model>Mygento\Content\Block\Adminhtml\System\Config\CmsBlockImport</frontend_model>
                </field>

                <field id="import_cms_page" translate="button_label" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Import CMS Pages</label>
                    <button_label>Load from files</button_label>
                    <frontend_model>Mygento\Content\Block\Adminhtml\System\Config\CmsPageImport</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>